@import "tailwindcss";

:root {
  font-family: Poppins, Arial;
}

@theme{
  --color-primary:#00B207;
  --color-background:#EDF2EE;
  --color-sale:#FF8A00;
  --color-dark:#2C742F;
  --color-secondary:#1A1A1A;
  --color-yellow:#FCC900;
}

