@import "tailwindcss";

:root {
  font-family: Poppins, Arial;
}

@theme{
  --color-primary:#c71a5f;
  --color-background:#faf5f7;
  --color-sale:#FF8A00;
  --color-dark:#8f093e;
  --color-secondary:#121212;
  --color-yellow:#FCC900;
  --color-hover:#faebf1;
}


